<div class="gallery">
  <div class="carousel-view">
    <a class="prev" (click)="slider.addSlides(-1, 'photoSlide')">&#10094;</a>

    <div *ngFor="let image of collection; index as i" class="photoSlide">
      <div class="numbertext">{{i+1}} / {{collection.length}}</div>
      <img class="full-view" src="{{image.path}}" alt="{{image.title}}">
    </div>

    <a class="next" (click)="slider.addSlides(1, 'photoSlide')">&#10095;</a>
  </div>

  <div class="caption-container photo-caption-container">
    <p id="photo-caption"></p>
  </div>

  <div class="carousel-items">
    <div *ngFor="let thumbnail of thumbnails" class="column">
      <img class="demo cursor" src="{{thumbnail.path}}" (click)="(slider.currentSlide(thumbnail.id, 'photoSlide'))" alt="{{thumbnail.title}}">
    </div>
  </div>
</div>
<div class="project-wrapper desktop-only">
  <button class="category" (click)="loadCategory(pictureCategories.ANIMALS)" >
    <span>{{pictureCategories.ANIMALS}}</span>
  </button>
  <button class="category" (click)="loadCategory(pictureCategories.EVENTS)">
    <span>{{pictureCategories.EVENTS}}</span>
  </button>
  <button class="category" (click)="loadCategory(pictureCategories.GAMING)">
    <span>{{pictureCategories.GAMING}}</span>
  </button>
  <button class="category" (click)="loadCategory(pictureCategories.PEOPLE)">
    <span>{{pictureCategories.PEOPLE}}</span>
  </button>
  <button class="category" (click)="loadCategory(pictureCategories.PLACES)">
    <span>{{pictureCategories.PLACES}}</span>
  </button>
</div>
<div class="mobile-only">
  <select class="category" name="select-category" (change)="loadCategory($event.target.value)">
    <option [value]="pictureCategories.ANIMALS">{{pictureCategories.ANIMALS}}</option>
    <option [value]="pictureCategories.EVENTS">{{pictureCategories.EVENTS}}</option>
    <option [value]="pictureCategories.GAMING">{{pictureCategories.GAMING}}</option>
    <option [value]="pictureCategories.PEOPLE">{{pictureCategories.PEOPLE}}</option>
    <option [value]="pictureCategories.PLACES">{{pictureCategories.PLACES}}</option>
  </select>
</div>
<ngx-spinner 
  bdColor="rgba(51,51,51,0.2)"
  size="medium"
  color="#960000"
  type="ball-scale-multiple"
  [fullScreen] = "true">
</ngx-spinner>
