<section class="main">
  <div id="brief-details">
    <div class="service-details desktop-only">
      <div class="topic">
        <h2 class="title">Services</h2>
        <div class="topic-body col-1">
          <h3>Software</h3>
          <div class="topic-group col-2">
            <div class="topic-content">
              <fa-icon [icon]="code" class="icon" alt=""></fa-icon>    
              <span>Web & Desktop App Development</span>
            </div>
            <div class="topic-content">
              <fa-icon [icon]="android" class="icon" alt=""></fa-icon>
              <span>Android App Development</span>
            </div>
          </div>
          <h3>Branding</h3>
          <div class="topic-group col-2">
            <div class="topic-content">
              <fa-icon [icon]="graphics" class="icon" alt=""></fa-icon>
              <span>Graphic Design</span>
            </div>
            <div class="topic-content">
              <fa-icon [icon]="marketing" class="icon" alt=""></fa-icon>
              <span>Brand Analysis and Digital Marketing</span>
            </div>
          </div>
          <h3>Art</h3>
          <div class="topic-group col-2">
            <div class="topic-content">
              <fa-icon [icon]="photography" class="icon" alt=""></fa-icon>
              <span>Photography and Videography</span>
            </div>
            <div class="topic-content">
              <fa-icon [icon]="drawing" class="icon" alt=""></fa-icon>
              <span>Commissioned Drawings</span>
            </div>
          </div>
        </div>
      </div>
      <div class="topic">
        <h2 class="title">Drive</h2>
        <div class="topic-body col-1">
          <h3>Core Values</h3>
          <div class="topic-content">
              <fa-icon [icon]="values" class="icon" alt=""></fa-icon>
              <p>Sincere Honesty</p>
              <p>Unyeilding Tenacity</p>
              <p>Close Collaboration</p>
          </div>
          <h3>Vision</h3>
          <div class="topic-content">
              <fa-icon [icon]="vision" class="icon" alt=""></fa-icon>
              <span>
                In partnership with the most creative minds, I strive to build a brighter future
                using methods that transcend the norm.
              </span>
          </div>
          <h3>Mission</h3>
          <div class="topic-content">
              <fa-icon [icon]="mission" class="icon" alt=""></fa-icon>
              <span>
                  My ultimate goal is to unite creative minds in an effort to bend the fabric of reality
                  through the combination of art and science.
              </span>
          </div>
        </div>
      </div>
      <div class="topic">
        <h2 class="title">Tools</h2>
        <div class="col-1">
          <h3>Programming</h3>
          <div class="topic-body">
            <div class="col-4">
                <div class="topic-content">
                  <fa-icon [icon]="microsoft" class="icon" alt=""></fa-icon>
                  <span>C# (ASP.Net, WCF, Razor, Xamarin)</span>
                </div>
                <div class="topic-content">
                  <fa-icon [icon]="java" class="icon" alt=""></fa-icon>
                  <span> Java (EE6, JBOSS, Weblogic, Prime Faces),</span>
                </div>
                <div class="topic-content">
                  <fa-icon [icon]="javascript" class="icon" alt=""></fa-icon>
                  <span> Javascript (Angular 7, Express, NodeJS),</span>
                </div>
                <div class="topic-content">
                  <fa-icon [icon]="database" class="icon" alt=""></fa-icon>
                  <span> SQL & NoSQL (MongoDB)</span>
                </div>
              </div>
            </div>
            <h3>Designing</h3>
            <div class="col-1">
              <p>
                <span class="col-2">
                  <img class="img-icon" src="../../assets/media/images/sketchup.png"/>
                  <img class="img-icon" src="../../assets/media/images/inkscape.png"/>
                </span>
                <span> SketchUp, Inkscape </span>
              </p>
            </div>
            <h3>Editing</h3>
            <div class="col-1">
              <div class="middle">
                  <fa-icon [icon]="adobe" class="icon" alt=""></fa-icon>
                  <span> Adobe PS, AE, PP</span>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="tab-container mobile-only">
      <div class="tabs">
        <button class="tab-button" (click)="openTab(1)">Services</button>
        <button class="tab-button" (click)="openTab(2)">Drive</button>
        <button class="tab-button" (click)="openTab(3)">Tools</button>
      </div>

      <div id="services" class="tab-content">
        <div class="tab-body">
          <div class="topic-body col-1">
            <h3>Software</h3>
            <div class="topic-group col-2">
              <div class="topic-content">
                <fa-icon [icon]="code" class="icon" alt=""></fa-icon>    
                <span>Web & Desktop App Development</span>
              </div>
              <div class="topic-content">
                <fa-icon [icon]="android" class="icon" alt=""></fa-icon>
                <span>Android App Development</span>
              </div>
            </div>
            <h3>Branding</h3>
            <div class="topic-group col-2">
              <div class="topic-content">
                <fa-icon [icon]="graphics" class="icon" alt=""></fa-icon>
                <span>Graphic Design</span>
              </div>
              <div class="topic-content">
                <fa-icon [icon]="marketing" class="icon" alt=""></fa-icon>
                <span>Brand Analysis and Digital Marketing</span>
              </div>
            </div>
            <h3>Art</h3>
            <div class="topic-group col-2">
              <div class="topic-content">
                <fa-icon [icon]="photography" class="icon" alt=""></fa-icon>
                <span>Photography and Videography</span>
              </div>
              <div class="topic-content">
                <fa-icon [icon]="drawing" class="icon" alt=""></fa-icon>
                <span>Commissioned Drawings</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="tools" class="tab-content">
        <div class="tab-body col-1">
          <h3>Programming</h3>
          <div class="topic-body">
            <div class="col-4">
                <div class="topic-content">
                  <fa-icon [icon]="microsoft" class="icon" alt=""></fa-icon>
                  <span>C# (ASP.Net, WCF, Razor, Xamarin)</span>
                </div>
                <div class="topic-content">
                  <fa-icon [icon]="java" class="icon" alt=""></fa-icon>
                  <span> Java (EE6, JBOSS, Weblogic, Prime Faces),</span>
                </div>
                <div class="topic-content">
                  <fa-icon [icon]="javascript" class="icon" alt=""></fa-icon>
                  <span> Javascript (Angular 7, Express, NodeJS),</span>
                </div>
                <div class="topic-content">
                  <fa-icon [icon]="database" class="icon" alt=""></fa-icon>
                  <span> SQL & NoSQL (MongoDB)</span>
                </div>
              </div>
            </div>
            <div class="col-2">
                <div class="col-1">
                    <h3>Designing</h3>
                    <p>
                      <span class="col-2">
                        <img class="img-icon" src="../../assets/media/images/sketchup.png"/>
                        <img class="img-icon" src="../../assets/media/images/inkscape.png"/>
                      </span>
                      <span> SketchUp, Inkscape </span>
                    </p>
                  </div>
                  
                  <div class="col-1">
                      <h3>Editing</h3>
                    <div class="middle">
                        <fa-icon [icon]="adobe" class="icon" alt=""></fa-icon>
                        <span> Adobe PS, AE, PP</span>
                    </div>
                  </div>
            </div>
        </div>
      </div>

      <div id="drive" class="tab-content">
        <div class="tab-body">
          <h3>Core Values</h3>
          <div class="topic-content">
              <fa-icon [icon]="values" class="icon" alt=""></fa-icon>
              <p>Sincere Honesty</p>
              <p>Unyeilding Tenacity</p>
              <p>Close Collaboration</p>
          </div>
          <h3>Vision</h3>
          <div class="topic-content">
              <fa-icon [icon]="vision" class="icon" alt=""></fa-icon>
              <span>
                In partnership with the most creative minds, I strive to build a brighter future
                using methods that transcend the norm.
              </span>
          </div>
          <h3>Mission</h3>
          <div class="topic-content">
              <fa-icon [icon]="mission" class="icon" alt=""></fa-icon>
              <span>
                  My ultimate goal is to unite creative minds in an effort to bend the fabric of reality
                  through the combination of art and science.
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
<ngx-spinner 
  bdColor="rgba(51,51,51,0.2)"
  size="medium"
  color="#960000"
  type="ball-scale-multiple"
  [fullScreen] = "true">
</ngx-spinner>
