#brief-details{
  width: 100%;
  height: 100%;
  text-align: left;
  align-content: center;
  background: none;
  overflow-y: auto;
}

.service-details {
  text-align: center;
  padding-top: 0;
  height: 100%;
}

.topic {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-row-gap: 20px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(1, 1,1, 0.6);
  border-left: 10px  solid #760000;
  border-bottom: 10px  solid #760000;
  border-right: 10px  solid #760000;
}

.topic-body {
  padding: 0 20px 0 20px;
}

.title {
  justify-self: center;
  align-self: flex-start;
  font-size: xx-large;
  color: whitesmoke;
  width: 100%;
  padding: 10px;
  background-color: #292929;
}

.icon {
  font-size: 30pt;
  display: block;
  width: 100%;
}

.img-icon {
  width: 60px;
  margin: 0 10px 0 10px;
}

strong{
  float: left;
  clear: both;
  font-size: 20px;
  color: #990000;
}

h2 {
  margin: 0;
}

h3 {
  color: #990000;
  margin: 0;
}

p {
  margin: 2px 0 10px 0;
  color: rgb(133, 133, 133);
  font-weight: 600;
}

span{
  display: flex;
  justify-content: center;
  color: rgb(133, 133, 133);
  font-size: 12pt;
  font-weight: 600;
}

@media only screen and (min-width:800px) {
  .service-details {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
    contain: content;
    overflow-y: auto;
  }

  .icon {
    font-size: 40pt;
  }
}

/*//////////////////////// Tabs ///////////////////////////*/
.tab-container {
  width: 100%;
  height: 90vh;
  justify-content: center;
  text-align: center;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tabs button {
  background-color: black;
  color: whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 6px black solid;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-clip: #292929;
}

/* Create an active/current tablink class */
.tabs button.active {
  border-bottom: 6px #880000 solid;
}

/* Style the tab content */
.tab-content {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
