<section class="main">
  <div class="contact-details">
    <img id="contact-img" class="desktop-only" src="../../assets/media/images/contact.svg"/>
    <div class="form-container">
      <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="form margin-bottom-30">
        <p class="form-title">Drop me a message</p>
        <div class="form-group">
            <label for="txtName" class="margin-bottom-6">Name</label>

            <div [hidden]="name.untouched || (name.valid && name.dirty)" class="alert alert-danger">
              Dear Sir/Mam, please provide your name or alias
            </div>

            <input id="txtName" type="text"  class="margin-bottom-30" 
            placeholder="Your full name"
            [(ngModel)]="mail.name"
            name="name"
            #name="ngModel"
            required
            minlength="2"/>
        </div>

        <div class="form-group">
            <label for="txtEmail" class="margin-bottom-6">Email</label>

            <div [hidden]="email.untouched || (email.dirty && email.valid)" class="alert alert-danger">
              Please give me a way to message you back
            </div>

            <input id="txtEmail" class="margin-bottom-30" type="email" placeholder="Your email address"
            pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
            [(ngModel)]="mail.email"
            #email="ngModel"
            name="email"
            required/>
        </div>

        <div class="form-group">
            <label for="txtNumber" class="margin-bottom-6">Phone Number</label>

            <div [hidden]="number.untouched || (number.valid && number.dirty)" class="alert alert-danger">
              Please provide a valid number if you wish to be called back
            </div>

            <input id="txtNumber" class="margin-bottom-30" type="tel" placeholder="0123456789"
            [(ngModel)]="mail.number"
            #number="ngModel"
            name="number"
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
            maxlength="10"
            required/>
        </div>

        <div class="form-group">
            <label for="subject" class="margin-bottom-6">Subject</label>

            <div [hidden]="subject.untouched || (subject.valid && subject.dirty)" class="alert alert-danger">
              Please select a topic you which to enquire about
            </div>

            <select id="subject" class="margin-bottom-30" name="subject" 
            [(ngModel)]="mail.subject" 
            #subject="ngModel"
            name="subject" 
            required>
              <option selected invalid value="">Please choose a subject</option>
              <option value="General Enquiry">General Enquiry</option>
              <option value="Booking">Booking</option>
              <option value="Callback">Call Back</option>
            </select>
        </div>

        <div class="form-group">
            <label for="txtMessage" class="margin-bottom-6">Message</label>

            <div [hidden]="message.valid" class="alert alert-danger">
              Please keep your message short so that we can discuss it in detail later
            </div>    

            <textarea id="txtMessage" class="margin-bottom-30" placeholder="Quick message" rows="3"
            [(ngModel)]="mail.message"
            #message="ngModel"
            name="message"
            maxlength="300">
            </textarea>
        </div>

        <div [hidden]="errorMessage =='' || (errorMessage =='' && contactForm.valid)" class="alert alert-danger">
          {{errorMessage}}
        </div>

        <button type="submit"  class="button">Send</button>
       
      </form>

      <div class="form-aside external-links">
        <a class="image-link" href="https://bitbucket.org/akiruslab/" >
          <fa-icon [icon]="bitbucket" class="link-icon" src="" alt="Akiru's Lab on Bitbucket"></fa-icon>
          <p class="link-title">Code and Experiments</p>
        </a>
        <a class="image-link" href="https://www.instagram.com/akiruslab/" >
          <fa-icon [icon]="instagram" class="link-icon" src="" alt="Akiru's Lab on Instagram"></fa-icon>
          <p class="link-title">Drawing Process</p>
        </a>
        <a class="image-link" href="https://www.linkedin.com/in/akeel-ledwaba-b40883a4/" >
          <fa-icon [icon]="linkedin" class="link-icon" src="" alt="Akil Ledwaba on LinkedIn"></fa-icon>
          <p class="link-title">Professional History</p>
        </a>
        <a class="image-link" href="https://www.youtube.com/channel/UCXCDs2jNrjfejt-Yvp6i6qA" >
          <fa-icon [icon]="youtube" class="link-icon" src="" alt="Akiru's Lab on YouTube"></fa-icon>
          <p class="link-title">Video Archive</p>
        </a>
        <a class="image-link" href="tel:+27849216786" >
          <fa-icon [icon]="phone" class="link-icon" src="" alt="Call me"></fa-icon>
          <p class="link-title">(+27)84 921 6786</p>
        </a>
        <a class="image-link" href="mailto:akil@akiruslab.com" >
          <fa-icon [icon]="sendMail" class="link-icon" src="" alt="Email me"></fa-icon>
          <p class="link-title">akil@akiruslab.com</p>
        </a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
<ngx-spinner 
  bdColor="rgba(51,51,51,0.2)"
  size="medium"
  color="#960000"
  type="ball-scale-multiple"
  [fullScreen] = "true">
</ngx-spinner>



