.contact-details {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height:100%;
  margin-top: 0px;
  padding: 15px;
  overflow: auto;
}

.form {
  box-shadow: 0 5px 15px rgba(1, 1,1, 0.6);
  padding: 30px;
}

.form-container {
  width: 100%;
  text-align: start;
}

#contact-img  {
  width: 100%;
  align-self: center;
}

label {
  display: block;
  font-size: 16pt;
}

input, select, textarea {
  width: 100%;
  border: none;
  border-bottom: 0.1px solid rgb(230, 230, 230);
  font-size: 13pt;
}

input[type=text]:focus, select:focus, textarea:focus {
  border: 1px solid #7c0000;
}

button {
  display: block;
  width: 100%;
  background-color: black;
  border: 2px solid rgb(15, 15, 15);
  color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  color: #960000;
}

.external-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  text-align: center;
}

.form-title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
}

.image-link {
  width: 100%;
  height: 30px;
  text-decoration: none;
  cursor: pointer;
  color: #960000;
  font-size: 11pt;
  font-weight: 600;
}

.link-icon {
  font-size: 20pt;
  color: black;
}

@media only screen and (min-width: 768px) {
  .link-title {
    display: none;
  }
  
  .link-icon:hover + .link-title {
    display: block;
  }

  .form-aside  {
    display: flex;
    flex-wrap: wrap;
  }

  .form {
    box-shadow: 0 5px 15px rgba(1, 1,1, 0.6);
    padding: 30px;
  }

  .form-container {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 30px;
    text-align: start;
  }

  .external-links {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    align-content: center;
    text-align: center;
  }

  .link-icon {
    font-size: 30pt;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1333px) {
  .contact-details {
    grid-template-columns: 30% 60%;
    overflow: auto;
    align-content: center;
  }

  .form-title {
    font-size: 30px;
    margin-bottom: 30px;
    align-content: space-around;
  }
}

@media only screen and (min-width: 1333px) {
  .contact-details {
    grid-template-columns: 40% 50%;
    overflow: auto;
    align-content: center;
  }

  .image-link { 
    height: 50px;
    padding-top: 20px;
  }

  .form-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
