<nav class="col-5">
  <div  class="home">
    <button class="menu-button" [routerLink]="['/home']" routerLinkActive="router-link-active" >
      <img id="home-icon" src="../../assets/media/images/akiruslab-icon.png" alt="Akiru's Lab Home Icon"/>
    </button>
  </div>
  <div  class="tile">
    <button class="menu-button" id="bio" [routerLink]="['/bio']" routerLinkActive="router-link-active" >
      <fa-icon [icon]="user" class="nav-icon mobile-only" alt="Biography Icon"></fa-icon>
      <p class="button-label">BIO</p>
    </button>
  </div>
  <div  class="tile">
    <button class="menu-button" id="brief" [routerLink]="['/brief']">
      <fa-icon [icon]="info" class="nav-icon mobile-only" alt="About Icon"></fa-icon>
      <p class="button-label">INFO</p>
    </button>
  </div>
  <div class="tile">
    <button class="menu-button" id="projects" [routerLink]="['/projects']" href="#">
      <fa-icon [icon]="flask" class="nav-icon mobile-only" alt="Work Icon"></fa-icon>
      <p class="button-label">LAB</p>
    </button>
  </div>
  <div  class="tile">
    <button class="menu-button" id="contact" [routerLink]="['/contact']">
      <fa-icon [icon]="envelope" class="nav-icon mobile-only" alt="Contact Icon"></fa-icon>
      <p class="button-label">CONTACT</p>
    </button>
  </div>
</nav>

