nav {
  margin: 0;
  height: 100%;
}

.home {
  text-align: center;
  background-color: black;
  height: 100%;
}


#home-icon {
  height: 50px;
}

.tile {
  background-color: black;
  display: contents;
}


.menu-button {
  justify-content: center;
  font-size: 5pt;
  letter-spacing: 5px;
  text-decoration: none;
  color: whitesmoke;
  background-color: black;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.button-label {
  width: 100%;
  text-align: center;
  padding-left: 5px;
}
.menu-button:hover {
  color: #7c0000;
}

.nav-icon {
  font-size: 20pt;
  color: whitesmoke;
}

@media only screen and (min-width: 768px) {
  .button-label {
    text-align: center;
    padding: 0;
    display: inline;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-button {
    font-size: 24pt;
  }
}

@media only screen and (min-width: 1024px) {
  .menu-button {
    font-size: 3em;
  }

  #home-icon {
    height: 60px;
    padding-top: 10px;
  }
}
