<app-banner></app-banner>

<nav>
  <div  class="tile">
    <button class="menuButton" id="bio" [routerLink]="['/bio']" routerLinkActive="router-link-active" >
      <span id="bioIcon" class="icon"></span>
      <p class="buttonText">BIO</p>
    </button>
  </div>
  <div  class="tile">
    <button class="menuButton" id="brief" [routerLink]="['/brief']">
      <span id="briefIcon" class="icon"></span>
      <p class="buttonText">
        INFO
      </p>
    </button>
  </div>
  <div class="tile">
    <button class="menuButton" id="projects" [routerLink]="['/projects']">
      <span id="workIcon" class="icon">
      </span>
      <p class="buttonText">LAB
      </p>
    </button>
  </div>
  <div  class="tile">
    <button class="menuButton" id="contact" [routerLink]="['/contact']">
      <span id="contactIcon" class="icon"></span>
      <p class="buttonText">CONTACT</p>
    </button>
  </div>
</nav>

<small>Created by Akeel Ledwaba &copy;akiruslab</small>
<ngx-spinner 
  bdColor="rgba(51,51,51,0.2)"
  size="medium"
  color="#960000"
  type="ball-scale-multiple"
  [fullScreen] = "true">
</ngx-spinner>


