/*////////////Dash Icon Style////////////////*/
.tile {
  margin-top: 15px;
  overflow: hidden;
  height: 100%;
}

.icon {
  float: left;
  width: 100%;
  height: 120px;
  margin-bottom: 15px;
  overflow: hidden;
}

#bioIcon {
  background:url("../../assets/media/images/lanyardLS.svg") center;
  background-repeat: no-repeat;
  background-size: contain;
}

#briefIcon {
  background:url("../../assets/media/images/clipboard.svg") center;
  background-repeat: no-repeat;
  background-size: contain;
}
#workIcon {
  background:url("../../assets/media/images/microscope.svg") center;
  background-repeat: no-repeat;
  background-size: contain;
}
#contactIcon {
  background:url("../../assets/media/images/envelope.svg") center;
  background-repeat: no-repeat;
  background-size: contain;
}

.menuButton {
  border: none;
  background-color: white;
  color: whitesmoke;
  letter-spacing: 10px;
  margin-top: 30px;
  width: 100%;
  cursor: pointer;
}

.buttonText {
  width: 100%;
  padding: 10px;
  margin-top: 130px;
  font-size: 11pt;
  color: whitesmoke;
  background-color: black;
}

.menuButton:hover {
  color: #7c0000;
}

small {
  float: left;
  margin-top: 5%;
  width: 100%;
  height: 40px;
  letter-spacing: 5px;
  font-size: 11pt;
}

nav {
  margin: 0%;
  width: 100%;
  height: 420px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*///////////// Media Query for landscape devices ////////////////*/

@media only screen and (orientation: landscape) and (min-width: 1024px) and (min-height: 840px) {
  .buttonText{
    font-size: 24pt;
    padding-top: 25px;
    margin-top: 400px;
    height: 80px;
  }

  nav{
    grid-template-columns: repeat(4, 1fr);
    height: 600px;
  }

  .icon{
    height: 380px;
  }

  small {
    margin-top: 1%;
  }
}

@media only screen and (orientation: landscape) and (min-height: 1024px) {
  .buttonText{
    font-size: 24pt;
    padding: 25px;
    margin-top: 580px;
  }

  nav{
    grid-template-columns: repeat(4, 1fr);
    height: 700px;
  }

  .icon{
    height: 580px;
  }

  small {
    margin-top: 1%;
  }
}

@media only screen and (orientation: landscape) and (min-height: 360px) and (max-height: 840px) {
  .buttonText{
    font-size: 11pt;
    padding: 10px;
    margin-top: 230px;
  }

  nav{
    grid-template-columns: repeat(4, 1fr);
    height: 330px;
  }

  .icon{
    height: 200px;
  }

  small {
    margin-top: 3%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .buttonText{
    font-size: 18pt;
  }
}

/*///////////// Media Query for portrait devices ////////////////*/

@media only screen and (orientation: portrait) and (min-height: 1024px){
  nav {
    height: 720px;
  }

  .icon{
    height: 280px;
  }

  .buttonText {
    margin-top: 280px;
  }
}
