<div style="text-align:center">
  <section id="content">
    <router-outlet></router-outlet>
  </section>
</div>
<ngx-spinner 
  bdColor="rgba(51,51,51,0.2)"
  size="medium"
  color="#960000"
  type="ball-scale-multiple"
  [fullScreen] = "true">
</ngx-spinner>


