<div class="gallery">
    <iframe class="full-view"  width="1280" height="720" [src]="url" frameborder="0"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="project-wrapper desktop-only">
  <button class="category" (click)="showCategory(videoCategories.EVENTS)">
    <span>{{videoCategories.EVENTS}}</span>
  </button>
  <button class="category" (click)="showCategory(videoCategories.MUSIC)">
    <span>{{videoCategories.MUSIC}}</span>
  </button>
  <button class="category" (click)="showCategory(videoCategories.REVIEWS)">
    <span>{{videoCategories.REVIEWS}}</span>
  </button>
  <button class="category" (click)="showCategory(videoCategories.SERIES)">
    <span>{{videoCategories.SERIES}}</span>
  </button>
  <button class="category" (click)="showCategory(videoCategories.THOUGHTS)">
    <span>{{videoCategories.THOUGHTS}}</span>
  </button>
</div>
<div class="mobile-only">
  <select class="category" name="select-category" (change)="showCategory($event.target.value)">
    <option [value]="videoCategories.EVENTS">{{videoCategories.EVENTS}}</option>
    <option [value]="videoCategories.MUSIC">{{videoCategories.MUSIC}}</option>
    <option [value]="videoCategories.REVIEWS">{{videoCategories.REVIEWS}}</option>
    <option [value]="videoCategories.SERIES">{{videoCategories.SERIES}}</option>
    <option [value]="videoCategories.THOUGHTS">{{videoCategories.THOUGHTS}}</option>
  </select>
</div>
<ngx-spinner 
  bdColor="rgba(51,51,51,0.2)"
  size="medium"
  color="#960000"
  type="ball-scale-multiple"
  [fullScreen] = "true">
</ngx-spinner>
