body {
  font-family: Arial, Helvetica, sans-serif;
  padding:0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

/*////////////Main Section Style////////////////*/
section{
  width:100%;
}

section .main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90%10%;
}
/*////////////Main Project View Style////////////////*/
.gallery {
  display: grid;
  justify-self: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 5% 15%;
  height: 100%;
}

.art-gallery {
  background-color: whitesmoke;
  grid-template-rows: 90%;
}

.gallery > .carousel-view {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-content: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.column > img {
  width: 100%;
}

.project-wrapper {
  justify-self: center;
  align-self: start;
  height:auto;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

.project-wrapper > .category {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  margin: 1rem;
  width: 200px;
  height: 50px;
  border: 1px solid whitesmoke;
  background-color: black;
  cursor: pointer;
}

.mobile-only > .category {
  display: block;
  color: whitesmoke;
  margin: 1rem;
  width: 90%;
  height: 50px;
  border: 1px solid whitesmoke;
  background-color: black;
  cursor: pointer;
}

.category:hover {
  color: #7c0000;
}

.cursor {
  cursor: pointer;
}

/*////////////Slideshow Styles////////////////*/
* {
  box-sizing: border-box;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  align-self:center;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-shadow: -1px 1px 5px rgba(1, 1,1, 0.8);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: #7c0000;
}

.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

.full-view {
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  max-width: 80%;
  height: 100%;
}

.drawing {
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  max-width: 80%;
  max-height: 600px;
}

.image-caption {
  display: block;
  font-size: 13pt;
  letter-spacing: 2px;
}

.gallery > .caption-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2px 16px;
  height: 100%;
}

.gallery > .photo-caption-container {
  background-color: #222;
  color: white;
}

.gallery > .drawing-caption-container {
  background-color: whitesmoke;
  color:black;
}

.gallery > .carousel-items {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color:black;
  height: 100%;
  overflow: hidden;
}

.carousel-items > .column {
  width: 16.66%;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.col-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
}

.col-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
}

.col-4 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.margin-bottom-6 {
  margin-bottom: 6px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex;
  }
}

/**Colors**/
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert {
  padding: 1px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}