<!-- <div class="gallery art-gallery desktop-only">
  <div class="carousel-view">

    <a class="prev" (click)="slider.nextSlide(-1)">&#10094;</a>

    <div id="scroll-plane">
        <div class="wall">
            <div *ngFor="let image of collection, index as i" class="drawing-slides">
                <div class="image-border">
                    <img *ngIf="i == 0 else unfocused" class="partial-view focused" (click)="slider.focusSlide(i+1)" src="{{image.path}}" alt="{{image.title}}">
                    <ng-template #unfocused>
                        <img class="partial-view unfocused" (click)="slider.focusSlide(i+1)" src="{{image.path}}" alt="{{image.title}}">
                    </ng-template>
                    <p class="image-caption">{{image.title}}</p>
                </div>
            </div>
        </div>
    </div>

    <a class="next" (click)="slider.nextSlide(1)">&#10095;</a>
  </div>
</div> -->

<div class="gallery art-gallery">
  <div class="carousel-view">
    <a class="prev" (click)="slider.addSlides(-1, 'drawingSlide')">&#10094;</a>

    <div class="image-border">
      <div *ngFor="let image of collection; index as i" class="drawingSlide hide">
        <img class="drawing" src="{{image.path}}" alt="{{image.title}}">
        <p class="image-caption">{{image.title}}</p>
      </div>
    </div>
    
    <a class="next" (click)="slider.addSlides(1, 'drawingSlide')">&#10095;</a>
  </div>
</div>

<div class="project-wrapper desktop-only">
  <button class="category" (click)="showCategory(drawingCategories.COMPOSITIONS)">
    <span>{{drawingCategories.COMPOSITIONS}}</span>
  </button>
  <button class="category" (click)="showCategory(drawingCategories.NATURE)">
    <span>{{drawingCategories.NATURE}}</span>
  </button>
  <button class="category" (click)="showCategory(drawingCategories.PORTRAITS)">
    <span>{{drawingCategories.PORTRAITS}}</span>
  </button>
</div>

<div class="mobile-only">
  <select class="category" name="select-category" (change)="showCategory($event.target.value)">
    <option [value]="drawingCategories.COMPOSITIONS">{{drawingCategories.COMPOSITIONS}}</option>
    <option [value]="drawingCategories.NATURE">{{drawingCategories.NATURE}}</option>
    <option [value]="drawingCategories.PORTRAITS">{{drawingCategories.PORTRAITS}}</option>
  </select>
</div>
<ngx-spinner 
  bdColor="rgba(51,51,51,0.2)"
  size="medium"
  color="#960000"
  type="ball-scale-multiple"
  [fullScreen] = "true">
</ngx-spinner>