.drawing {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr;
}

.partial-view {
  display: block;
  object-fit: cover;
  max-width: 900px;
  max-height: 650px;
  border: 5px solid rgba(1, 1,1, 0.8);
  z-index: 100;
}

img {
  border: 5px solid rgba(1, 1,1, 0.8);
  z-index: 100;
  margin-top: 30px;
}

.partial-view.unfocused {
  width: 300px;
  z-index: 50;
  cursor: pointer;
}

.image-border {
  box-shadow: 0 6px 10px 6px rgba(1, 1,1, 0.5);
}

#scroll-plane {
  overflow-x: hidden;
  padding: 200px;
}

.wall {
  width: 2000px;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  padding: 10px;
}
