<section class="main">
  <div id="project-details">
    <div id="project-categories">
        <button (click)="onClick(listOfCategories.DRAWINGS)">
          <span>{{listOfCategories.DRAWINGS}}</span>
        </button>

        <button (click)="onClick(listOfCategories.PHOTOS)">
          <span>{{listOfCategories.PHOTOS}}</span>
        </button>

        <button (click)="onClick(listOfCategories.VIDEOS)">
          <span>{{listOfCategories.VIDEOS}}</span>
        </button>
    </div>
  </div>

  <!-- The Drawings Modal -->
  <div id="drawings-view" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <app-projects-drawings></app-projects-drawings>
      </div>
  </div>

  <!-- The  Photos Modal -->
  <div id="photos-view" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <app-projects-photos></app-projects-photos>
      </div>
  </div>

  <!-- The Vidoes Modal -->
  <div id="videos-view" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <app-projects-videos></app-projects-videos>
      </div>
  </div>

  <app-footer></app-footer>
</section>
<ngx-spinner 
  bdColor="rgba(51,51,51,0.2)"
  size="medium"
  color="#960000"
  type="ball-scale-multiple"
  [fullScreen] = "true">
</ngx-spinner>


