#project-details {
  height: 100%;
  background: none;
  padding: 5px;
}

#project-categories {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
}

button {
  border: none;
  text-decoration: none;
  color: black;
  background-color: white;
  text-align: center;
  font-size: 24pt;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(1, 1,1, 0.3);
}

.category {
  box-shadow: 0 5px 15px rgba(1, 1,1, 0.6);
}

button:hover{
  color: #960000;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(1, 1,1, 0.6);
}

/*////////////////////Modal Stytes////////////////////////////////////////*/

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(1, 1,1, 0.8);
}

.modal-background{
  position: fixed;
  z-index: 150;
  top: 0;
  left: 240px;
  width: 1440px;
  height: 100%;
}

.modal-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 85% 10%;
  background-color: rgba(1, 1,1, 0.8);
  width: 100%;
  height: 100%;
}

.close {
  align-self:flex-start;
  justify-self: end;
  height: 10%;
  color: #aaaaaa;
  z-index: 300;
  padding: 20px;
  font-size: 50px;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: -1px 1px 5px rgba(1, 1,1, 0.8);
}

.close:hover {
  color: #960000;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

/*////////////////// Destop view //////////////////*/

@media only screen and (min-height: 600px) and (max-height: 900px) and (min-width: 860px) and (max-width: 1333px) {
  #project-details {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    background:url("../../assets/media/images/microscope.svg") center;
    background-repeat: no-repeat;
    background-size: 600px;
    background-position-x: -50px;
  }

  #project-categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1px;
    width: 400px;
    height: 600px;
    padding-top: 300px;
    margin-left: 500px;
    align-items: center;
  }
}

@media only screen and (min-height: 600px) and (max-height: 900px) and (min-width: 1333px) {
  #project-details {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    background:url("../../assets/media/images/microscope.svg") center;
    background-repeat: no-repeat;
    background-size: 600px;
    background-position-x: 100px;
  }

  #project-categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1px;
    width: 500px;
    height: 600px;
    padding-top: 200px;
    margin-left: 600px;
    align-items: center;
  }
}

@media only screen and (min-height: 900px) and (min-width: 900px) and (max-width: 1333px) {
  #project-details {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    background:url("../../assets/media/images/microscope.svg") center;
    background-repeat: no-repeat;
    background-size: 800px;
    background-position-x: -200px;
  }

  #project-categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1px;
    width: 400px;
    height: 800px;
    padding-top:300px;
    margin-left: 500px;
    align-items: center;
  }
}

@media only screen and (min-height: 900px) and (min-width: 1333px) {
  #project-details {
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    background:url("../../assets/media/images/microscope.svg") center;
    background-repeat: no-repeat;
    background-size: 800px;
    background-position-x: 100px;
  }

  #project-categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    width: 600px;
    height: 800px;
    padding-top: 500px;
    margin-left: 800px;
    align-items: center;
  }
}


