#bio-details {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  justify-items: center;
  text-align: left;
  background:url("../../assets/media/images/lanyard.svg") center;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: -500px -800px;
  overflow-y: auto;
}

#profile-pic{
  margin-top: 50px;
  width: 200px;
}

#personal-details{
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px;
  justify-items: center;
  text-align: center;
  width: 100%;
}

#personal-details > p {
  margin-top: 0;
}

strong{
  color: #7c0000;
}

/*        Landscape Media Queiries          */
@media only screen and (min-width: 768px) and (min-height: 900px) {
  #bio-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    width: 1200px;
    text-align: left;
    background:url("../../assets/media/images/lanyardLS.svg") center;
    background-repeat: no-repeat;
    background-size: 2600px;
    background-position: -600px -1660px;
  }

  #profile-pic{
    margin: 400px 0 0 330px;
    width: 250px;
  }

  #personal-details{
    grid-template-columns: 1fr;
    justify-items: left;
    text-align: left;
    padding: 15px;
    margin-top: 330px;
    height: 400px;
    width: 350px;
    font-size: 16pt;
  }
}

@media only screen and (min-height: 768px) and (max-height: 900px) and (min-width: 768px) {
  #bio-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    width: 1200px;
    text-align: left;
    background:url("../../assets/media/images/lanyardLS.svg") center;
    background-repeat: no-repeat;
    background-size: 2600px;
    background-position: -600px -1760px;
  }

  #profile-pic{
    margin: 300px 0 0 330px;
    width: 250px;
  }

  #personal-details{
    grid-template-columns: 1fr;
    justify-items: left;
    text-align: left;
    padding: 15px;
    margin-top: 230px;
    height: 400px;
    width: 350px;
    font-size: 16pt;
  }
}
