<section class="main">
  <div id="bio-details">
    <img id="profile-pic" alt="profile-pic" src="../../assets/media/images/pp_hat_bw.png"/>
    <div id="personal-details">
        <p><strong>Surname: </strong>Ledwaba</p>
        <p><strong>Names: </strong>Akeel Kenny</p>
        <p><strong>Personality: </strong>INTJ-T (The Architect)</p>
        <p class="margin-bottom-6"><strong>Qualification: </strong>BSc Computer Science</p>
        <p>
          As a master of poetic precision and detail, I use my unique perspective to create,
          construct and compile art that will satisfy anyone who enjoys pushing boundaries.
        </p>
    </div>
  </div>
  <app-footer></app-footer>
</section>
<ngx-spinner 
  bdColor="rgba(51,51,51,0.2)"
  size="medium"
  color="#960000"
  type="ball-scale-multiple"
  [fullScreen] = "true">
</ngx-spinner>




