.main-title{
  float: left;
  width: 100%;
  margin: 0;
  height: 25px;
  font-size: 24pt;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: none;
  color: black;
}


#logo{
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 90px;
  background:url("../../assets/media/images/akiruslab-logo.svg") center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 1024px) {
  .main-title{
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 25px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: none;
    color: black;
  }

  #logo{
    width: 100%;
    height: 180px;
    background:url("../../assets/media/images/akiruslab-logo.svg") center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
